{% extends "base.html" %}
{% block title %}Add Event{%endblock%}

{% block content %}
    <h1>Change the event for:</h1>
    <h3 style="color: red;">{{event.event}}</h3>
    <form action="/" onsubmit="return check()" method="post">
        <input hidden value="{{event.event}}" id="eName" name="eName">
        <label id="lstart" for="start">Start time: </label><br>
        <input id="start" name="start" type="datetime-local"><br>
        <label id="lend" for="start">End time: </label><br>
        <input id="end" name="end" type="datetime-local"><br>
        <label id="lcode" for="code">Input scanner code: </label><br>
        <input id="code" name="code" type="number" min="1000" max="9999" step="1" required value="{{event.code}}"><br>
        <input id="submit" type="submit">
    </form>
    <script src="/static/add.js"></script>
    {% if addwrong2 %}
        <script>codeTaken()</script>
    {%endif%}
{%endblock%}